<%for(let i=0; i< movies.length;i++){%>
<tr>
    <td><%= i+1 %></td>
    <td><%= movies[i].name %></td>
    <td><%= movies[i].rating %></td>
    <td><%= movies[i].genre %></td>
    <td><%= movies[i].recommend %></td>
    <td>
        <!-- <a href="/update-movie?id=<%= movies[i]._id %>" class="btn border-shadow update">
            <span class="text-gradient"><i class="far fa-edit"></i></span>
        </a> -->
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-trash"></i></span>
        </a>
    </td>
</tr>
<%}%>